@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Work Sans', sans-serif;
}
body{
    background: #74C69D;
    color:white;
}

.navbar {
    margin-left: 315px;
}



h2,h3{
    margin-bottom: 15px;
}

.text-left button{
    margin-top: 38px;
 }
 
@media (max-width: 767px) {
  .navbar-brand {
    margin-left: -300px;
  }
}


@media (max-width: 1000px) {
  .navbar-brand {
    margin-left: -300px;
  }
  .navbar-nav li:first-child {
    display: initial;
  }

}

